{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="split left">
	<h2 align="center">Enter Text or Use Mic</h2>
	<br>
	<form action="" method="post" align="left">
		{% csrf_token %}

		<!-- Language Dropdown -->
		<label for="lang">Select Language:</label>
		<select id="lang" name="language">
			<option value="en" {% if lang == "en" %}selected{% endif %}>English</option>
			<option value="hi" {% if lang == "hi" %}selected{% endif %}>Hindi</option>
		</select>		
		<br><br>

		<!-- Text Input & Mic Button -->
		<input type="text" name="sen" class="mytext" id="speechToText" placeholder=""
       value="{% if not input_cleared %}{{ display_text }}{% endif %}">
		<button type="button" name="button" class="mic" onclick="record()">
			<img src="{% static 'assets/mic3.png' %}" height="32px" width="38px" />
		</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" name="submit" class="submit">
	</form>

	<br>
	<table cellspacing="20px">
		<tr>
			<td class="td">The text that you entered is:</td>
			<td class="td">{{ display_text }}</td>
		</tr>
	
		<tr>
			<td colspan="2" style="text-align: center;">
				<button onclick="toggleKeywords()" class="submit">Show/Hide Keywords</button>
			</td>
		</tr>
	
		<tr id="keywordsRow" style="display: none;">
			<td class="td">Key words in sentence:</td>
			<td class="td">
			  <div id="keyword-section">
				<ul class="td" id="list" align="center" style="margin: 0; padding-left: 20px;">
				  {% for word in words %}
					<li style="margin-right: 8px">{{ word }}</li>
				  {% endfor %}
				</ul>
			  </div>
			</td>
		  </tr>		  
	</table>	
</div>

<div class="split right">
	<h2 align="center">Sign Language Animation</h2>
	<div style="text-align:center">
		<button class="submit" onclick="playPause()">Play/Pause</button>

		<video id="videoPlayer" width="600" height="350" preload="auto" autoplay>
			<source src="" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
	</div>
</div>

<script>
	// Multilingual Speech to Text using webkitSpeechRecognition
	function record() {
		var recognition = new webkitSpeechRecognition();
		var lang = document.getElementById("lang").value;
		recognition.lang = lang === 'hi' ? 'hi-IN' : 'en-IN';

		recognition.onresult = function(event) {
			console.log(event)
			document.getElementById('speechToText').value = event.results[0][0].transcript;
		}
		recognition.start();
	}

	// Function to handle video playback
	function play() {
		var videoSource = [];
		var videos = document.getElementById("list").getElementsByTagName("li");
		for (let j = 0; j < videos.length; j++) {
			videoSource[j] = "/static/assets/" + videos[j].innerHTML + ".mp4";
		}

		let i = 0;
		let videoCount = videoSource.length;

		function videoPlay(videoNum) {
			let listItems = document.getElementById("list").getElementsByTagName("li");
			listItems[videoNum].style.color = "#09edc7";
			listItems[videoNum].style.fontSize = "xx-large";

			document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
			document.getElementById("videoPlayer").load();
			document.getElementById("videoPlayer").play();
		}

		document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
		document.getElementById("list").getElementsByTagName("li")[0].style.color = "#09edc7";
		document.getElementById("list").getElementsByTagName("li")[0].style.fontSize = "xx-large";

		videoPlay(0);

		function myHandler() {
			let listItems = document.getElementById("list").getElementsByTagName("li");
			listItems[i].style.color = "#feda6a";
			listItems[i].style.fontSize = "20px";
			i++;
			if (i < videoCount) {
				videoPlay(i);
			} else {
				document.getElementById("videoPlayer").pause();
			}
		}
	}

	function playPause() {
		if (document.getElementById("videoPlayer").paused) {
			play();
		} else {
			document.getElementById("videoPlayer").pause();
		}
	}
	function toggleKeywords() {
	    var row = document.getElementById("keywordsRow");
	    row.style.display = (row.style.display === "none") ? "table-row" : "none";
    }
</script>
{% endblock %}